*{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon{
    display: none;
}
.hidden-menu a{
    cursor: pointer;
}
.hide{
    display: none;
    padding: 10px;
    margin: 0 auto;
    width: 95%; height: 100%;
    text-align: center;
    font-size:1.5em;
    font-weight: 700;
}
.hide>li{
    list-style-type: none;
    padding: 10px;
}
.hide>li:not(:last-child){
    margin-bottom: 5px;
    border-bottom: 1px solid sienna;
}
.article{
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100%;
}
.container{
    width: 100%;
    max-width: 1080%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: minmax(100px,1fr);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 20px;
    text-align: center;
    transition: 1s;
}
.container.box{
    position: absolute;
    padding: 20px;
    display: grid;
    place-items: center;
    text-align: center;
    transition: 1s;
}
.container.box:hover{
    transform: scale(1.2);
}
.container.box img{
    position: relative;
    padding: 10px;
    max-width: 100px;
    margin-bottom: 10px;
}
.content{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.content>img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.main-wrapper{
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    margin-bottom: 10px;
}
.description{
    height: 100%;
}
.navigator{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
header{
    padding: 20px;
    margin: 100px auto;
    text-align: center;
}
span{
    font-weight: 700;
    color: sienna;
}
h1>a{
    font-size: 4.25em;
}
.description h3{
    text-align: center;
    margin: 15px auto;
    font-size: 3.125em;
}
.navigator ul{
    margin-top: 15px;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
.navigator li{
    padding: 0 50px;
    display: inline-block;
    font-size: 2.5em;
    list-style-type: none;
}
.navgator li:not(:last-child){
    border-right: 2px solid black;
}
.navigator>nav>ul>li:not(:last-child){
    border-right: 2px solid black;
}
.main-header{
    overflow: hidden;
}
h1{
    display: inline;
}
.logo{
    width: 100px; height: 100px;
}
.second-audio{
    display: none;
}
.audio-section>audio{
    position: absolute;
    top: 10px; right: 10px;
}
.audio-section>h3{
    font-size: 1.5em;
    position: absolute;
    top: 25px; right: 320px;
}
.article{
    position: relative;
    overflow: hidden;
    margin: 100px auto; 
    width: 100%;
}
footer{
    background: sienna;
    bottom: 0;
    height: 50px;
    padding-left: 15px;
    font-weight: 700;
    line-height: 50px;
}
@media screen and (max-width:645px){
    .audio-section>audio{
        display: none;
    }
    .second-audio{
        display: unset;
    }
    .audio-section>h3{
        display: none;
    }
    .logo{
        display: none;
    }
    .container{
        grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);
    }
    .container.box{
        grid-column: unset;
        grid-row: unset;
    }
    .icon{
        display: unset;
    }
}
@media screen and (max-width:990px){
    .navigator{
        display: none;
    }
}